* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(224, 218, 218); */
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 22px;
    left: 0;
    right: 0;
}

#logo img {
    text-align: left;
    height: 60px;
    width: 170px;
    margin-left: -70px;
    border-radius: 12%;

}

.nav_main {
    text-align: right;
    margin-right: 32px;
    color: #000;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.nav_main ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-left: 250px;
}

.nav_main ul li {

    list-style: none;
}

.nav_main ul li a {
    text-decoration: none;
    font-size: larger;
    color: #000;
    font-weight: 500;
}

.nav_main ul li a button {
    background-color: #000;
    border-radius: 34px;
    color: white;
    padding: 12px;
    width: 124px;

}

.close_nav {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

#content1 {
    margin-top: 25px;
    height: 440px;
    width: 100%;
    background-image: linear-gradient(#9c9399, #867f88, #726e79);
    display: flex;
    flex-direction: row;

}

#content1_1 {
    width: 60%;
    color: white;
    font-size: 2rem;
    margin: 62px;
}

#content1_1 p {
    margin-top: 10px;
}

#img_content1 {
    width: 40%;
    background-image: linear-gradient(#9c9399, #867f88, #726e79);
}

#img_content1 img {
    /* background-color: #b7b7f9; */
    color: #b7b7f9;
    height: 440px;
    object-fit: cover;
}

.btn_content1 button {
    height: 45px;
    margin-left: 52px;
    margin-top: 52px;
    width: 120px;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;


}

.btn_content1 button a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    font-size: larger;
}

.btn {
    height: 45px;
    /* margin-left: 52px;
    margin-top: 52px; */
    width: 120px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    color: #000;
    font-weight: 800;
    font-size: larger;
}

#featured_profile1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

#featured_top {
    display: flex;
    justify-content: space-evenly;
    margin: 62px;
}

.card {
    height: 300px;
    width: 300px;
    border: 2px solid wheat;
    margin-left: 42px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;

}

.card h2 {
    position: absolute;
    color: white;
    text-align: end;

}

.card_img img {
    /* z-index: -1; */
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    /* background-image: url(./image/model2.avif); */
}

.card_img ul {
    /* display: flex; */
    color: white;
    /* text-align:inherit; */
    /* object-position: bottom; */
}

#content2 {
    display: flex;
}

#content2_img img {
    height: 380px;
    width: 600px;
    margin-top: 82px;
    margin-left: 42px;
    border-radius: 8px;
}

#content2_content {
    /* margin-top: 92px; */
    margin: 132px;
    padding: 12px;
}

#content2_content h1 {
    font-weight: 700;
}

#content2_content p {
    margin-top: 22px;
    margin-bottom: 22px;
}

.btn1 {
    height: 45px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    color: #fff;
    background-color: #eb654f;
    font-weight: 800;
    font-size: larger;
}

.btn2 {
    height: 45px;
    width: 180px;
    border-radius: 28px;
    border: 1px solid black;
    cursor: pointer;
    /* color: #fff; */
    /* background-color: #eb654f; */
    font-weight: 800;
    font-size: larger;
}

#account_signup {
    background-color: #eb654f;
    /* height: 100%; */
    width: 100%;
    padding: 25px;
}

#account_signup1 {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    margin: 62px;
    background-color: #eb654f;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #000;
    border-top: 4px solid #eb654f;
    margin-top: 35px;
    left: 0;
    right: 0;
    position: absolute;
}

#footer {
    display: flex;
    /* border-top: 4px solid #eb654f; */
    margin-top: 55px;
    margin-left: 55px;
    /* color: white; */
    background-color: #000;
    /* width: 100%; */
    left: 0;
    right: 0;
    height: 100%;
}

.row1 {
    width: 25%;
    color: #fff;
}

.row2 {
    width: 30%;
    color: #fff;
    margin-left: 90px;
}

.row2 ul {
    list-style: none;
}

.row2 ul li {
    margin: 20px;

}

.row2 ul li a {
    text-decoration: none;
    color: #fff;

}

.row3 {
    width: 25%;
    color: #fff;


}

.row3 ul {
    list-style: none;
}

.row3 ul li {
    margin: 20px;
}

.row3 ul li a {
    text-decoration: none;
    color: #fff;
}

.row4 {
    color: #fff;
}

.row4 p {
    margin: 18px;
    font-size: 17px;
    color: #fff;
}

.search input {
    height: 59px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 255px;
    padding: 10px;
    background-color: white;
}

.search button {
    height: 57px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
    width: 46px;
    background-color: #eb654f;
    color: #fff;
    border: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.footer h2 {
    color: white;
}

.rights {
    height: 50px;
}

.rights h2 {
    color: #fff;
    margin: 32px;
    margin-left: 43px;
    background-color: #000;
}

@media screen and (max-width: 1200px) and (min-width:897px) {
    /* 
    #content1 {
       
        height: auto;
    }

    #content1_1 {
        width: 50%;
        color: white;
        font-size: 1rem;
        margin: 62px;
    }

    #img_content1 img {
        
    }

    #featured_profile1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        margin: 32px;
        padding: 2px;
    }

    #content2 img {
        width: 300px;
    }

    #content2_content {
        margin: 0px;
        padding: 0px;
        width: 866px;
    }

    #content2_content h1 {
        width: 866px;
    }

    #content2_content p {
        width: 866px;
    }

    #account_signup1 {
        display: flex;
        flex-direction: column;
    }

    #footer {

        display: flex;
        flex-direction: column;
        background-color: #000;

    }

    .row2 {
        margin-left: 0px;
    } */

}

@media screen and (max-width: 896px) {
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: rgb(0, 0, 0); */
    }
    #logo{
        /* display: none; */
        /* position:absolute; */
    }
    .nav_main {
        /* display: inline-block; */
        /* display: none; */
        height: 100vh;
        /* position: fixed; */
        top: 0px;
        right: 0px;
        left: 0px;
        /* z-index:10; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease 0s;
        display: none;
        color: white;
    }

    .nav_main ul {
        display: flex;
        flex-direction: column;
      
    }
    /* .nav_main ul li a{
        color: white;
    } */

    .close_nav {
        display: inline-block;
    }

    #content1 {
        /* width: 50%; */
        height: auto;
    }

    #content1_1 {
        width: 60%;
        color: white;
        font-size: 1rem;
        margin: 62px;
    }

    #img_content1 img {
        position: relative;
        display: none;
    }

    #featured_profile1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #content2 {
        display: flex;
        flex-direction: column;
        margin: 32px;
        padding: 2px;
    }

    #content2 img {
        width: 300px;
    }

    #content2_content {
        /* margin-top: 92px; */
        margin: 0px;
        padding: 0px;
        width: 866px;
    }

    #content2_content h1 {
        width: 866px;
    }

    #content2_content p {
        width: 866px;
    }

    #account_signup1 {
        display: flex;
        flex-direction: column;
    }

    #footer {

        display: flex;
        flex-direction: column;
        /* margin-top: 55px;
    margin-left: 55px; */
        background-color: #000;

    }

    .row2 {
        margin-left: 0px;
    }

}